<!DOCTYPE html>
    <html>
        <head>
            <link href="~/css/bootstrap.css" rel="stylesheet">
            <link href="~/css/styles.css" rel="stylesheet">
            <title>Library</title>
        </head>
        <body class="container">
            @RenderBody()
        </body>
    </html>