<h1>New Author</h1>
<form action="/authors/create" method="post">
    <label for="name">Name</label>
    <input id="name" name="name" type="text" required>
    <button type="submit">Add</button>
</form>

<a href="/authors">Go back</a>
