@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">New Author</h1>
    <hr>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="/authors/create" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name" type="text" required>
            </div>
            <button class="btn btn-info" type="submit">Add</button>
        </form>
    </div>
    <div class="col-md-6">
    </div>
</div>

<p><a href="/authors">Go back</a></p>
