@using Library.Models;
@{
    Layout="_Layout";
}
<div class="header">
    <h1 class="title">@Model["author"].GetName()</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
        <p><a href='/authors/@Model["author"].GetId()/edit'>Edit</a></p>
        <p><a href="/authors/">Go back</a></p>
    </div>
    <div class="col-md-4 center">
        <h4>Books</h4>
        <ul>
        @foreach(Book book in Model["books"])
        {
            <li>@book.GetTitle()</li>
        }
        </ul>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-2">
    </div>

